body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #FFFFFF;
    margin: 20px, 20px;
}

h1{
    font-size: 42px;
    text-align: center;
}

h2{
    font-size: 30px;
    color: #0D0D0D;
}

p{
    font-size: 24px;
    padding-top: 10px;
    padding-left: 10px;
}

img{
    width: 250px;
    display: block;
    margin: auto;
    border: dashed #FFFFFF 10px;
}

div{
    height: auto;
    min-height: 125px;
    padding: 20px;
    border: solid 3px #FFFFFF;
}

.introduction{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;;
}
